{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! The big featured header }}
<header id="header" class="{{#if @blog.cover}}">
    <h1><a href="{{@blog.url}}">{{@blog.title}}</a></h1>
    {{navigation}}
</header>

<!-- Banner -->
<section id="banner" style="background-image: url({{@blog.cover}}){{else}}no-cover{{/if}}">
    <h2>{{@blog.description}}</h2>
</section>

<!-- One -->
<section id="one" class="wrapper style1 align-center">
    <div class="container">
        <header>
            <h2>我们的服务</h2>
            <p></p>
        </header>
        <div class="row 200%">
            <section class="4u 12u$(small)">
                <a href="#" title="请教期待">
                <i class="icon big rounded fa-weixin"></i>
                </a>
                <p>微信公众号、小程序定制开发</p>
            </section>
            <section class="4u 12u$(small)">
                <a href="http://s0393.com/mobile.html">
                <i class="icon big rounded fa-mobile"></i>
                </a>
                <p>ios、android 原生应用定制开发</p>
            </section>
            <section class="4u$ 12u$(small)">
                <a href="http://s0393.com:8080/flc">
                <i class="icon big rounded fa-windows"></i>
                </a>
                <p>企业MIS、网站及OA定制开发</p>
            </section>
        </div>
    </div>
</section>

{{! The main content area on the homepage }}
<section id="two" class="wrapper style2 align-center">
    <div class="container">
        <header>
            <h2>我们的承诺</h2>
            <p>快速高效、严谨负责</p>
        </header>
        <div class="row">
            {{! The tag below includes the post loop - partials/loop.hbs }}
            <!--{{> "loop"}}-->
        </div>
    </div>
</section>
